.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  }
  
  .caixa {
    width: 700px;
    height: 700px;
    background-color: rgb(103, 103, 206);
    position: relative; /* Alterado para relativo */
    margin: 10px 0 10px 0;
}

.bolinha {
  width: 20px; /* Tamanho da bolinha */
  height: 20px; /* Tamanho da bolinha */
  background-color: red; /* Cor da bolinha */
  border-radius: 50%; /* Torna a bolinha redonda */
  position: absolute; /* Permite posicionar a bolinha dentro da caixa */
}

.bolinha-movida {
  width: 60px; /* Tamanho da bolinha */
  height: 60px; /* Tamanho da bolinha */
  background-color: blue; /* Cor da bolinha */
  border-radius: 50%; /* Torna a bolinha redonda */
  position: absolute;
}